ul class="nav navbar-nav"
  li= link_to('<span class="fa fa-lg fa-home"></span> Home'.html_safe, root_path)
  - if current_user
    li= link_to('<span class="fa fa-lg fa-lock"></span> Assets'.html_safe, articles_path)
    li= link_to('<span class="fa fa-lg fa-tasks"></span> Tasks'.html_safe, tasks_path)
    li= link_to('<span class="fa fa-lg fa-building"></span> Org'.html_safe, org_path(current_user.org))
    li= link_to('<span class="fa fa-lg fa-user"></span> Users'.html_safe, users_path)
  - else
    li= link_to('<span class="fa fa-lg fa-phone"></span> Contact'.html_safe, contact_path)
    li= link_to('<span class="fa fa-lg fa-user"></span> About'.html_safe, about_path)

ul class="nav navbar-nav navbar-right"
  - if current_user
    li= link_to('<span class="fa fa-lg fa-cog"></span> Settings'.html_safe, edit_user_registration_path)
    li= link_to('<span class="fa fa-lg fa-power-off"></span> Log out'.html_safe, destroy_user_session_path, method: 'delete')
  - else
    li= link_to('<span class="fa fa-lg fa-sign-in"></span> Login'.html_safe, new_user_session_path)
    li= link_to('<span class="fa fa-lg fa-download"></span> Register'.html_safe, new_user_registration_path)
